DEV_CONTROL.RES2:<Request ID="1" Action="CREATE"><FB Name="scontrol" Type="SEM_CONTROL" /></Request>
DEV_CONTROL.RES2:<Request ID="2" Action="CREATE"><FB Name="cycle1" Type="E_CYCLE" /></Request>
DEV_CONTROL.RES2: <Request ID="3" Action="WRITE" ><Parameter Reference="cycle1.DT" Value="t#1000ms" /></Request>
DEV_CONTROL.RES2:<Request ID="4" Action="CREATE"><FB Name="car1" Type="CAR_SEMAPHORE" /></Request>
DEV_CONTROL.RES2:<Request ID="5" Action="CREATE"><FB Name="light_red" Type="OUT_BOOL" /></Request>
DEV_CONTROL.RES2: <Request ID="6" Action="WRITE" ><Parameter Reference="light_red.LABEL" Value=""RED"" /></Request>
DEV_CONTROL.RES2: <Request ID="7" Action="WRITE" ><Parameter Reference="light_red.C1" Value="[255,0,0]" /></Request>
DEV_CONTROL.RES2:<Request ID="8" Action="CREATE"><FB Name="light_yellow" Type="OUT_BOOL" /></Request>
DEV_CONTROL.RES2: <Request ID="9" Action="WRITE" ><Parameter Reference="light_yellow.C1" Value="[255,255,0]" /></Request>
DEV_CONTROL.RES2: <Request ID="10" Action="WRITE" ><Parameter Reference="light_yellow.LABEL" Value=""YELLOW"" /></Request>
DEV_CONTROL.RES2:<Request ID="11" Action="CREATE"><FB Name="light_green" Type="OUT_BOOL" /></Request>
DEV_CONTROL.RES2: <Request ID="12" Action="WRITE" ><Parameter Reference="light_green.C1" Value="[0,255,0]" /></Request>
DEV_CONTROL.RES2: <Request ID="13" Action="WRITE" ><Parameter Reference="light_green.LABEL" Value=""GREEN"" /></Request>
DEV_CONTROL.RES2:<Request ID="14" Action="CREATE"><FB Name="pub1" Type="PUBLISH_2" /></Request>
DEV_CONTROL.RES2: <Request ID="15" Action="WRITE" ><Parameter Reference="pub1.QI" Value="1" /></Request>
DEV_CONTROL.RES2: <Request ID="16" Action="WRITE" ><Parameter Reference="pub1.ID" Value=""225.0.0.1:61401"" /></Request>
DEV_CONTROL.RES2: <Request ID="17" Action="CREATE" ><Connection Source="START.COLD" Destination="scontrol.INIT" /></Request>
DEV_CONTROL.RES2: <Request ID="18" Action="CREATE" ><Connection Source="light_red.INITO" Destination="light_yellow.INIT" /></Request>
DEV_CONTROL.RES2: <Request ID="19" Action="CREATE" ><Connection Source="light_yellow.INITO" Destination="light_green.INIT" /></Request>
DEV_CONTROL.RES2: <Request ID="20" Action="CREATE" ><Connection Source="light_red.CNF" Destination="light_yellow.REQ" /></Request>
DEV_CONTROL.RES2: <Request ID="21" Action="CREATE" ><Connection Source="light_yellow.CNF" Destination="light_green.REQ" /></Request>
DEV_CONTROL.RES2: <Request ID="22" Action="CREATE" ><Connection Source="scontrol.INITO" Destination="car1.INIT" /></Request>
DEV_CONTROL.RES2: <Request ID="23" Action="CREATE" ><Connection Source="car1.INITO" Destination="light_red.INIT" /></Request>
DEV_CONTROL.RES2: <Request ID="24" Action="CREATE" ><Connection Source="car1.CNF" Destination="light_red.REQ" /></Request>
DEV_CONTROL.RES2: <Request ID="25" Action="CREATE" ><Connection Source="scontrol.CNF" Destination="car1.REQ" /></Request>
DEV_CONTROL.RES2: <Request ID="26" Action="CREATE" ><Connection Source="cycle1.EO" Destination="scontrol.REQ" /></Request>
DEV_CONTROL.RES2: <Request ID="27" Action="CREATE" ><Connection Source="scontrol.CNF" Destination="pub1.REQ" /></Request>
DEV_CONTROL.RES2: <Request ID="28" Action="CREATE" ><Connection Source="light_green.INITO" Destination="pub1.INIT" /></Request>
DEV_CONTROL.RES2: <Request ID="29" Action="CREATE" ><Connection Source="pub1.INITO" Destination="cycle1.START" /></Request>
DEV_CONTROL.RES2: <Request ID="30" Action="CREATE" ><Connection Source="scontrol.SEMAPHORE_1" Destination="car1.CYCLE" /></Request>
DEV_CONTROL.RES2: <Request ID="31" Action="CREATE" ><Connection Source="car1.RED" Destination="light_red.IN" /></Request>
DEV_CONTROL.RES2: <Request ID="32" Action="CREATE" ><Connection Source="car1.YELLOW" Destination="light_yellow.IN" /></Request>
DEV_CONTROL.RES2: <Request ID="33" Action="CREATE" ><Connection Source="car1.GREEN" Destination="light_green.IN" /></Request>
DEV_CONTROL.RES2: <Request ID="34" Action="CREATE" ><Connection Source="scontrol.SEMAPHORE_2" Destination="pub1.SD_1" /></Request>
DEV_SLAVE.RES1:<Request ID="35" Action="CREATE"><FB Name="START" Type="E_RESTART" /></Request>
DEV_SLAVE.RES1:<Request ID="36" Action="CREATE"><FB Name="car2" Type="CAR_SEMAPHORE" /></Request>
DEV_SLAVE.RES1:<Request ID="37" Action="CREATE"><FB Name="walk_ctl" Type="WALKER_SEMAPHORE" /></Request>
DEV_SLAVE.RES1:<Request ID="38" Action="CREATE"><FB Name="sub1" Type="SUBSCRIBE_2" /></Request>
DEV_SLAVE.RES1: <Request ID="39" Action="WRITE" ><Parameter Reference="sub1.ID" Value="71" /></Request>
DEV_SLAVE.RES1:<Request ID="40" Action="CREATE"><FB Name="light_red" Type="IO_WRITER" /></Request>
DEV_SLAVE.RES1: <Request ID="41" Action="WRITE" ><Parameter Reference="light_red.SD_1" Value="1" /></Request>
DEV_SLAVE.RES1:<Request ID="42" Action="CREATE"><FB Name="light_yellow" Type="IO_WRITER" /></Request>
DEV_SLAVE.RES1: <Request ID="43" Action="WRITE" ><Parameter Reference="light_yellow.SD_1" Value="2" /></Request>
DEV_SLAVE.RES1:<Request ID="44" Action="CREATE"><FB Name="light_green" Type="IO_WRITER" /></Request>
DEV_SLAVE.RES1: <Request ID="45" Action="WRITE" ><Parameter Reference="light_green.SD_1" Value="3" /></Request>
DEV_SLAVE.RES1:<Request ID="46" Action="CREATE"><FB Name="walker_red" Type="IO_WRITER" /></Request>
DEV_SLAVE.RES1: <Request ID="47" Action="WRITE" ><Parameter Reference="walker_red.SD_1" Value="4" /></Request>
DEV_SLAVE.RES1:<Request ID="48" Action="CREATE"><FB Name="walker_green" Type="IO_WRITER" /></Request>
DEV_SLAVE.RES1: <Request ID="49" Action="WRITE" ><Parameter Reference="walker_green.SD_1" Value="5" /></Request>
DEV_SLAVE.RES1:<Request ID="50" Action="CREATE"><FB Name="split1" Type="E_SPLIT" /></Request>
DEV_SLAVE.RES1:<Request ID="51" Action="CREATE"><FB Name="split2" Type="E_SPLIT" /></Request>
DEV_SLAVE.RES1: <Request ID="52" Action="CREATE" ><Connection Source="sub1.INITO" Destination="walk_ctl.INIT" /></Request>
DEV_SLAVE.RES1: <Request ID="53" Action="CREATE" ><Connection Source="light_red.INIT0" Destination="light_yellow.INIT" /></Request>
DEV_SLAVE.RES1: <Request ID="54" Action="CREATE" ><Connection Source="light_yellow.INIT0" Destination="light_green.INIT" /></Request>
DEV_SLAVE.RES1: <Request ID="55" Action="CREATE" ><Connection Source="walk_ctl.INITO" Destination="walker_red.INIT" /></Request>
DEV_SLAVE.RES1: <Request ID="56" Action="CREATE" ><Connection Source="walker_red.INIT0" Destination="walker_green.INIT" /></Request>
DEV_SLAVE.RES1: <Request ID="57" Action="CREATE" ><Connection Source="walk_ctl.SETO" Destination="walker_red.REQ" /></Request>
DEV_SLAVE.RES1: <Request ID="58" Action="CREATE" ><Connection Source="light_red.CNF" Destination="light_yellow.REQ" /></Request>
DEV_SLAVE.RES1: <Request ID="59" Action="CREATE" ><Connection Source="light_yellow.CNF" Destination="light_green.REQ" /></Request>
DEV_SLAVE.RES1: <Request ID="60" Action="CREATE" ><Connection Source="walker_red.CNF" Destination="walker_green.REQ" /></Request>
DEV_SLAVE.RES1: <Request ID="61" Action="CREATE" ><Connection Source="START.COLD" Destination="split1.EI" /></Request>
DEV_SLAVE.RES1: <Request ID="62" Action="CREATE" ><Connection Source="split1.EO1" Destination="car2.INIT" /></Request>
DEV_SLAVE.RES1: <Request ID="63" Action="CREATE" ><Connection Source="split1.EO2" Destination="sub1.INIT" /></Request>
DEV_SLAVE.RES1: <Request ID="64" Action="CREATE" ><Connection Source="sub1.IND" Destination="split2.EI" /></Request>
DEV_SLAVE.RES1: <Request ID="65" Action="CREATE" ><Connection Source="split2.EO2" Destination="walk_ctl.SET" /></Request>
DEV_SLAVE.RES1: <Request ID="66" Action="CREATE" ><Connection Source="car2.INITO" Destination="light_red.INIT" /></Request>
DEV_SLAVE.RES1: <Request ID="67" Action="CREATE" ><Connection Source="split2.EO1" Destination="car2.REQ" /></Request>
DEV_SLAVE.RES1: <Request ID="68" Action="CREATE" ><Connection Source="car2.CNF" Destination="light_red.REQ" /></Request>
DEV_SLAVE.RES1: <Request ID="69" Action="CREATE" ><Connection Source="sub1.RD_1" Destination="car2.CYCLE" /></Request>
DEV_SLAVE.RES1: <Request ID="70" Action="CREATE" ><Connection Source="sub1.RD_2" Destination="walk_ctl.CYCLE" /></Request>
DEV_SLAVE.RES1: <Request ID="71" Action="CREATE" ><Connection Source="car2.RED" Destination="light_red.SD_2" /></Request>
DEV_SLAVE.RES1: <Request ID="72" Action="CREATE" ><Connection Source="car2.YELLOW" Destination="light_yellow.SD_2" /></Request>
DEV_SLAVE.RES1: <Request ID="73" Action="CREATE" ><Connection Source="car2.GREEN" Destination="light_green.SD_2" /></Request>
DEV_SLAVE.RES1: <Request ID="74" Action="CREATE" ><Connection Source="walk_ctl.RED" Destination="walker_red.SD_2" /></Request>
DEV_SLAVE.RES1: <Request ID="75" Action="CREATE" ><Connection Source="walk_ctl.GREEN" Destination="walker_green.SD_2" /></Request>
